<!DOCTYPE html>
<html>
<head>
  <title>Form Success</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">

</head>
<body>
  <h1>Form Successfully Filled</h1>
  <p>Thank you for submitting the form!</p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
